<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Jasmine Spec Runner</title>
    <link rel="stylesheet" href="{% url jasmine_css %}" type="text/css" media="screen">
    <script type="text/javascript" src="{% url jasmine_js %}"></script>
    <script type="text/javascript" src="{% url jasmine_html_js %}"></script>
<!-- include source files here... -->
    {% for url in suite.js_files %}
    <script type="text/javascript" src="{{ url }}"></script>
    {% endfor %}

    <!-- include static files here... -->
    {% for url in suite.static_files %}
    <script type="text/javascript" src="{{ MEDIA_URL }}{{ url }}"></script>
    {% endfor %}

    <!-- include spec files here... -->
    {% for file in files %}
    <script type="text/javascript" src="{% url jasmine_test file %}"></script>
    {% endfor %}

</head>
<body>

<script type="text/javascript">
    {% block jasmine %}
    (function() {
        var jasmineEnv = jasmine.getEnv();
        jasmineEnv.updateInterval = 1000;

        var trivialReporter = new jasmine.TrivialReporter();

        jasmineEnv.addReporter(trivialReporter);

        jasmineEnv.specFilter = function(spec) {
            return trivialReporter.specFilter(spec);
        };

        // Additional configuration can be done in this block
        {% block jasmine_extra %}{% endblock %}

        var currentWindowOnload = window.onload;

        window.onload = function() {
            if (currentWindowOnload) {
                currentWindowOnload();
            }
            execJasmine();
        };

        function execJasmine() {
            jasmineEnv.execute();
        }
    })();
    {% endblock %}
</script>

</body>
</html>
