{% load static %}

<!doctype html>

<html>
<head>
    <title>Jasmine Spec Runner</title>
    <link rel="stylesheet" href="{% get_static_prefix %}jasmine-latest/jasmine.css"
        media="screen">

    {# core files #}
    <script  src="{% get_static_prefix %}jasmine-latest/jasmine.js"></script>
    <script  src="{% get_static_prefix %}jasmine-latest/jasmine-html.js"></script>
    <script  src="{% get_static_prefix %}jasmine-ajax-latest.js"></script>
    <script  src="{% get_static_prefix %}jasmine-jquery-latest.js"></script>

    {# source files #}
    {% for url in suite.js_files %}
    <script src="{{ url }}"></script>
    {% endfor %}
    
    {% load assets %}
    {% for bundle in suite.bundles %}
      <!-- Loading bundle {{ bundle }} -->
      {% assets bundle %}
       <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {% endassets %}
    {% endfor %}

    {# static files #}
    {% for url in suite.static_files %}
    <script src="{% get_static_prefix %}{{ url }}"></script>
    {% endfor %}

    {# spec files #}
    {% for file in files %}
    <script src="{% url jasmine_test file %}"></script>
    {% endfor %}
</head>
<body>

<h1>Jasmine Spec Runner</h1>

<script>
    {% block jasmine %}
    (function() {
        var jasmineEnv = jasmine.getEnv();
        jasmineEnv.updateInterval = 1000;

        var htmlReporter = new jasmine.HtmlReporter();

        jasmineEnv.addReporter(htmlReporter);

        jasmineEnv.specFilter = function(spec) {
            return htmlReporter.specFilter(spec);
        };

        // Additional configuration can be done in this block
        {% block jasmine_extra %}{% endblock %}

        var currentWindowOnload = window.onload;

        window.onload = function() {
            if (currentWindowOnload) {
                currentWindowOnload();
            }
            execJasmine();
        };

        function execJasmine() {
            jasmineEnv.execute();
        }
    })();
    {% endblock %}
</script>

</body>
</html>
